#toggle-button-container {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 10px;
    right: 10px;
    gap: 10px; /* Espaçamento entre os botões */
    justify-content: center;
    align-items: center;
}

#voiceButton, #toggle-button {
    background-color: #18af25;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#toggle-button.desativado {
    background-color: rgb(99, 160, 59);
}

#voiceButton:hover {
    background-color: #c52323;
}

#backButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e2280f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}